.bgImage {
    background-image: url("https://media.razorpay.com/file/platform/frontend-auth/razorpay/razorpay-bg-visual-1.3x.jpeg");
    background-repeat: no-repeat;
     background-size:  cover;
}   